.folders {
  border: 1px solid red;
  display: grid;
  padding: 1px;
  margin: 10px;
}

.notes {
  border: 1px solid purple;
  margin: 5%;
  padding: 5px;
}

.note_list {
  border: 1px solid black;
  margin-left: 165px;
  padding: 5px 10px;
}

.folder_sidebar {
  border: 1px solid green;
  height: 100%;
  width: 160px;
  z-index: 1;
  top: 0;
  left: 0;
  position: fixed;
}

h1 {
  text-align: center;
}
